/* Write your CSS here */
.main-home-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
}
.home-container-light {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  flex-grow: 1;
}

.home-image {
  width: 100px;
  height: 100px;
}

.home-heading-light {
  color: #000000;
}

.home-container-dark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #000000;
  flex-grow: 1;
}

.home-heading-dark {
  color: #ffffff;
}
